<div class="city-searchbox" w-bind="./widget">
	<form w-onsubmit="handleFormSubmit">
		<input w-id="inputTxt" type="text" placeholder="Enter a city.." />
		<button type="submit">Search</button>
	</form>
</div>