<optimizer-page package-path="./optimizer.json" />

<layout-use template="src/layouts/default-layout.marko">
	<layout-put into="title">Home page</layout-put>
	<layout-put into="body">
		<home model="${data}" />
	</layout-put>
</layout-use>