<div class="location-info" w-bind="./widget">
	<h1>${city.name}</h1>

	<h3>Coords</h3>
	<table class="coords">
		<tr>
			<td>lat</td>
			<td>lon</td>
		</tr>
		<tr>
			<td>${city.lat}</td>
			<td>${city.lon}</td>
		</tr>
	</table>
</div>