<div class="location-info" w-bind="./widget">
	<h1>${data.location.name}</h1>

	<h3>Coords</h3>
	<table class="coords">
		<tr>
			<td>lat</td>
			<td>lon</td>
		</tr>
		<tr>
			<td>${data.location.coord.lat}</td>
			<td>${data.location.coord.lon}</td>
		</tr>
	</table>
</div>